.vscode/**
.vscode-test/**
.claude/**
.git-extension-wrap/**
src/**
!src/ui_panel/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
